// Main Colors
$color-primary: #191f25;
$color-primary-light: #323f47;
$color-highlight: #1890ff;
$color-secondary: #ffffff;
$color-secondary-modal: #000000;
$color-secondary-darker: #5f7789;
$color-menu-background: #272d33;

// Handles
$color-handle-background: #c4c4c4;
$color-handle-border: #7b8185;

// Components
$color-component-curated: #334a65;
$color-component-default: #ffffff;
$color-component-enterprise: #5c4145;
$color-component-custom: #335447;
